.btn {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(21px) rem(41px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
  
  &--theme--white {
    background: #ffffff;
    color: $darkGreen;

    &:hover {
      background: $darkGreen;
      color: #ffffff;
      transition: .2s;
    }
  }

  &--theme--green {
    background: $darkGreen;
    color: #ffffff;

    &:hover {
      background: #ffffff;
      color: $darkGreen;
      transition: .2s;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #000;
    text-transform: capitalize;

    &:hover {
      color: $darkGreen;
      transition: .2s;
    }
  }
}

