.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 21px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
  
  &--theme--white {
    background: #ffffff;
    color: $darkGreen;

    &:hover {
      background: $darkGreen;
      color: #ffffff;
    }
  }

  &--theme--green {
    background: $darkGreen;
    color: #ffffff;

    &:hover {
      background: #ffffff;
      color: $darkGreen;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #000;
    text-transform: capitalize;

    &:hover {
      color: $darkGreen;
    }
  }
}

