.headline {
  text-align: center;
  margin-bottom: rem(48px);
}

.headline__title {
  margin-bottom: rem(14px);
}

.headline__subtitle {
  padding: 0 26%;
  line-height: 1.3;

  @include phones {
    padding: 0 2%;
  }
}