.hero {
  background: url('../img/decor/big-leaf.png') right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: 650px;
  color: #ffffff;
  position: relative;

  &:before {
    content: url("../img/decor/corner-leaf.png");
    position: absolute;
    bottom: -40px;
    left: 3%;
  }

  &:after {
    content: url("../img/decor/berries-and-leaves.png");
    position: absolute;
    bottom: -40px;
    right: 0;
  }
}

.hero__title-section {
  width: 46%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px;
  background: url('../img/decor/chocolates.png') right center / 50% auto no-repeat;
}

.hero__title-main {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1.24;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 48px;
  padding-right: 15%;
  line-height: 1.24;
}