.hero {
  background: url('../img/decor/big-leaf.png') right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: rem(650px);
  color: #ffffff;
  position: relative;

/*  @media screen and (min-width: 768px) {
    background: url('../img/decor/big-leaf.png') right bottom no-repeat;
  }*/

  @include tablets {
    background-position: right -10% bottom 65%;
  }

  &:before, &:after {
    @include tablets {
      display: none;
    }
  }

  &:before {
    content: url("../img/decor/corner-leaf.png");
    position: absolute;
    bottom: rem(-40px);
    left: 3%;
  }

  &:after {
    content: url("../img/decor/berries-and-leaves.png");
    position: absolute;
    bottom: rem(-40px);
    right: 0;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(50px);
  background: url('../img/decor/chocolates.png') right center / 50% auto no-repeat;

  @include tablets {
    background: none;
  }
}

.hero__features {
  display: flex;
}

.hero__features-item {
  margin-right: rem(48px);

  &:last-child {
    margin-right: 0;
  }
}

.hero__title-section {
  width: 46%;

  @include tablets {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    &:before {
      content: "";
      width: rem(326px);
      height: rem(340px);
      background: url("../img/decor/chocolate-and-berries.png") center center / contain no-repeat;
      margin-bottom: rem(16px);
    }
  }
}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}

.hero__title-main {
  font-size: rem(48px);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: rem(15px);
  line-height: 1.24;
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(48px);
  padding-right: 15%;
  line-height: 1.24;

  @include tablets {
    padding: 0 25%;
  }

  @include phones {
    padding: 0 16%;
  }
}